@model PayViewModel
@{
    ViewData["Title"] = $"Оплата заказа №{@Model.OrderNum}";
}

<div class="text-left mt-4">
	<h4 class="mb-3">@Model.PayOrderTitle</h4>
	<p>Дата заказа: @Model.OrderDate?.ToString("dd.MM.yyyy")</p>
	<p>Сумма заказа: @Model.SumString</p>
	<div class="container mb-3">
		<div class="row align-items-center">
			<div>
				Статус оплаты: @Model.StatusString
			</div>
			<div hidden=@Model.IsNotProcessingStatus class="col-3">
				<a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index" asp-route-ticket=@Model.Ticket>Обновить статус</a>
			</div>
		</div>
	</div>
	<div>
		<p hidden=@Model.IsNotProcessingStatus>Нажимая оплатить, Вы соглашаетесь с <a href="@Model.OfertaUrl">договором оферты</a>.</p>
		<p hidden=@Model.IsPerformedStatus>
			Оплатить по ссылке можно только один раз.<br>
			@Model.PaymentAttemptMessage
		</p>
        <p hidden=@Model.IsNotProcessingOrNotPaymentByCard>При оплате заказа банковской картой, ввод реквизитов карты происходит в системе электронных платежей ПАО АКБ «Авангард», который прошел сертификацию в платежных системах Visa, MasterCard и МИР. Представленные Вами данные полностью защищены и никто, включая наш интернет-магазин, не может их получить.</p>
		<a hidden=@Model.IsNotProcessingStatus class="btn btn-success mt-3" href="@Model.PayUrl">Оплатить</a>
	</div>
</div>
<div class="container">
	<img src="img/my-prinimaem-oplatu-170x128.png" alt="" />
	<img src="img/sbp_logo.svg" alt="" width="95em"/>
</div>
